<div class="panel-generating" id="generating-{{panelIndex}}"
     data-status-url="/novels/{{novelId}}/page/{{pageNumber}}/panel/{{panelIndex}}/status">
  <div class="spinner"></div>
  <span>Generating...</span>
</div>
<script>
(function() {
  var el = document.getElementById('generating-{{panelIndex}}');
  if (!el) return;
  var url = el.dataset.statusUrl;
  var interval = setInterval(function() {
    fetch(url).then(function(r) { return r.text(); }).then(function(html) {
      el.outerHTML = html;
      if (html.indexOf('panel-generating') === -1) clearInterval(interval);
    }).catch(function() {
      clearInterval(interval);
    });
  }, 3000);
})();
</script>
