<div id="message-{{id}}" class="chat-message">
  <div class="chat-message-header">
    <span class="chat-message-author">{{userName}}</span>
    <span class="chat-message-time">{{relativeTime}}</span>
  </div>
  <div class="chat-message-content">
    {{#each contentLines}}
    <p>{{this}}</p>
    {{/each}}
  </div>
  {{#if hasEmbeds}}
  <div class="chat-embeds">
    {{#each embeds}}
    <div class="chat-embed chat-embed-{{embedType}}">
      {{#if isYoutube}}
      <a href="{{url}}" target="_blank" class="chat-embed-youtube-link">
        <div class="chat-embed-youtube-thumb">
          <img src="{{thumbnailUrl}}" alt="{{title}}">
          <div class="chat-embed-play-icon">
            <svg viewBox="0 0 24 24" fill="currentColor">
              <polygon points="5 3 19 12 5 21 5 3"/>
            </svg>
          </div>
        </div>
        {{#if hasTitle}}
        <div class="chat-embed-youtube-info">
          <div class="chat-embed-title">{{title}}</div>
        </div>
        {{/if}}
      </a>
      {{else}}
      {{#if isTwitter}}
      <a href="{{url}}" target="_blank" class="chat-embed-twitter-link">
        <div class="chat-embed-twitter-header">
          <span class="chat-embed-twitter-icon">
            <svg viewBox="0 0 24 24" fill="currentColor">
              <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/>
            </svg>
          </span>
          {{#if hasAuthor}}<span class="chat-embed-twitter-author">{{authorName}}</span>{{/if}}
        </div>
        {{#if hasDescription}}<div class="chat-embed-twitter-text">{{description}}</div>{{/if}}
        {{#if hasThumbnail}}<img src="{{thumbnailUrl}}" alt="" class="chat-embed-twitter-image">{{/if}}
      </a>
      {{else}}
      <a href="{{url}}" target="_blank" class="chat-embed-generic-link">
        {{#if hasThumbnail}}<img src="{{thumbnailUrl}}" alt="" class="chat-embed-generic-thumb">{{/if}}
        <div class="chat-embed-generic-info">
          {{#if hasTitle}}<div class="chat-embed-title">{{title}}</div>{{/if}}
          {{#if hasDescription}}<div class="chat-embed-description">{{description}}</div>{{/if}}
        </div>
      </a>
      {{/if}}
      {{/if}}
    </div>
    {{/each}}
  </div>
  {{/if}}
  {{#if hasAttachments}}
  <div class="chat-attachments">
    {{#each attachments}}
    {{#if isImage}}
    <a href="{{url}}" target="_blank" class="chat-attachment-image">
      <img src="{{url}}" alt="{{fileName}}" class="chat-attachment-thumbnail">
    </a>
    {{else}}
    <a href="{{url}}" download="{{fileName}}" class="chat-attachment-file">
      <span class="chat-attachment-icon">
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <path d="M21.44 11.05l-9.19 9.19a6 6 0 0 1-8.49-8.49l9.19-9.19a4 4 0 0 1 5.66 5.66l-9.2 9.19a2 2 0 0 1-2.83-2.83l8.49-8.48"/>
        </svg>
      </span>
      <span class="chat-attachment-name">{{fileName}}</span>
      <span class="chat-attachment-size">{{fileSizeFormatted}}</span>
    </a>
    {{/if}}
    {{/each}}
  </div>
  {{/if}}
</div>
