<div id="thread-{{id}}" class="chat-thread-item{{#if isActive}} chat-thread-active{{/if}}"
     hx-get="/chat/thread/{{id}}"
     hx-target="#chat-messages-area"
     hx-swap="innerHTML"
     hx-push-url="true">
  <div class="chat-thread-header">
    <h4 class="chat-thread-title">{{title}}</h4>
    <span class="chat-thread-time">{{relativeTime}}</span>
  </div>
  {{#if hasLastMessage}}
  <p class="chat-thread-preview">{{lastMessagePreview}}</p>
  {{/if}}
  <div class="chat-thread-meta">
    <span class="chat-thread-count">
      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"/>
      </svg>
      {{messageCount}}
    </span>
  </div>
</div>
